<html lang="en">
<head>
    <link rel = "stylesheet" href = "style.css">
    <style>
        div.ex1 { width: 100%; height: 90%; }
        .tableFixHead { overflow-y: auto; }
        .tableFixHead thead th { position: sticky; top: 0; }
        .center { margin: auto; }
        table { font-size: 15px; }
    </style>
    <title>UMN StratoStar API Display</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Include Bootstrap Styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Include Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var plotType = document.getElementById("mySelect").selectedIndex + 6;
            var allPacketsLength = '{{allPacketsLength}}';
            var allPlotPackets = JSON.parse('{{allPlotPackets|tojson}}');
            var plotPacketLabels = JSON.parse('{{plotPacketLabels|tojson}}');
            var data = new google.visualization.DataTable()
            
            data.addColumn('datetime', 'Time of Day');
            data.addColumn('number', plotPacketLabels[plotType]);
        
            for (var i = allPacketsLength-1; i >= 0; i--) {
                data.addRow([new Date(allPlotPackets[i][0],allPlotPackets[i][1],allPlotPackets[i][2],allPlotPackets[i][3]-6, allPlotPackets[i][4], allPlotPackets[i][5]), allPlotPackets[i][plotType]])
            }

            var options = {
                title: plotPacketLabels[plotType] + ' vs Time',
                pointsVisible: true,
                pointSize : 4,
                lineWidth: 0,
                legend: 'none',
                theme: 'pretty',
                vAxis: { title: plotPacketLabels[plotType] },
                hAxis: { format: 'h:mm' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
            chart.draw(data, options);
        }
    </script>
</head>

<body>
<!-- Include API link Button -->
<!-- <div style="background-image: url('/static/SnowyHorizon2.jpg');"> -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="/"></a>
      
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Stratostar SatCom</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/radio">UMN Radio Comms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rangeFinder">range Finder</a>
          </li>
        </ul>
    </nav>    

    <div style= "margin: 3px">
        <a href={{currentURL}} class="btn btn-info" role="button">Current Mission API Link</a>
    </div>

    <div style= "margin: 3px">
        <form action="/newMissionID" method="post">
            <input type="text" name="missionID"></input>
            <input type="submit" value="Load Written ID"></input>
        </form>
    </div>

    <div style= "margin: 3px">
        <form action="/newMissionID" method="post">
            <select id="missionID" name="missionID">
                {% for i in range(IDs|length) %}
                    <option> {{IDs[i]}} </option>
                {% endfor %} 
            </select>
            <input type="submit" value="Load List ID"></input>
        </form>
    </div>

    <div style= "margin: 3px">
        <form>
            Select plot variable:
            <select id="mySelect" onchange = "drawChart()">
                {% for x in range(6,plotPacketLabels|length) %}
                    <option> {{plotPacketLabels[x]}} </option>
                {% endfor %} 
            </select>
        </form>
    </div>

    <div id="curve_chart" class = "center" style="width: 100%; border-style: solid; border-color: white; max-width: 900px; height: calc(100vh - 50%)"></div>
    <!-- <p>;</p> -->
<!-- </div> -->

<div class = "table-responsive tableFixHead">
     <table class = "table table-striped table-condensed"> <!-- Begin table with striped styling -->
        <!-- Create Table head with column labels -->
        <thead>
            <tr>
                {% for x in range(packetLabels|length) %}
                    <th>{{packetLabels[x]}}</th>
                {% endfor %}
            </tr>
        </thead>

        <!-- Create main body of table -->
        <tbody>
            {% for y in range(allPacketsLength) %} <!-- Begin Loop for writing each table row -->           
                <tr> <!-- Pass values from flask (application.py) to html for listing in the table -->
                    {% for z in range(packetLabels|length) %}
                        <td>{{allPackets[y][z]}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>